.background{
    box-sizing: border-box;
    background-image: url(../../assets/img/image.png);
    background-repeat: no-repeat;
    background-size: 100%;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    padding-left: 90px;
    padding-bottom: 20%; 
}

.background .wrapper{
    display: flex;
    flex-direction: column;
    width: 40%;   
}
.background .navigation{
    display: flex;
    justify-content: space-evenly;
}

.background #box{
    margin-bottom: 40px;
}