.progressbar{
    display: inline-block;
    box-sizing: content-box;
    background-color: #FFF;
    border: 5px solid #000;
    height: 40px;
    min-width: 1fr;
    width: 320px;
}

.progressbar-i{
    display: inline-block;
    background-color: #F25A70;
    height: 40px;
}
  .p1{
  width: 60%;
}
  .p2{
  width: 60%;
}
  .p3{
  width: 0%;
}
  .p4{
  width: 0%;
}
  .p5{
  width: 0%;
}
  .p6{
  width: 0%;
}
  .p7{
  width: 0%;
}
  .p8{
  width: 30%;
}

/**como o marco fez, em teoria era para as classes estarem separadas pro vírgula, mas o opera explodiu**/


.progressbar::-moz-progress-value{
  background-color: #f25a70;
}
.progressbar::-webkit-progress-value 
{
  background-color: #f25a70;
}
.progressbar::-webkit-progress-bar{
  background-color: #fff;
} 
.progressbar::-moz-progress-bar{
  background-color: #fff;
}