.progressbar{
    display: inline-block;
    border: 5px solid #000;
    height: 40px;
    min-width: 1fr;
    width: 320px;
    background-color: white;
  }
  .progressbar-i{
    display: inline-block;
    background-color: #F25A70;
    height: 40px;
}
  .p1{
  width: 55%;
}
  .p2{
  width: 55%;
}
  .p3{
  width: 0%;
}
  .p4{
  width: 0%;
}
  .p5{
  width: 0%;
}
  .p6{
  width: 0%;
}
  .p7{
  width: 0%;
}
  .p8{
  width: 30%;
}